body {margin: 0px; background-image: url(http://www.hdwallpapers.in/walls/the_matrix_1080p-HD.jpg)}

nav ul{background-color: white; border-radius: 20px; outline-style: groove; padding-left: 6px; }

nav li {display: inline-block}
.project1 {color: white; text-align: center; font-size: 25px; border: 2px solid black; margin-left: auto; margin-right: auto; background-color: green}

.webbasics {color: white; text-align: left; font-size: 20px; border: 1px white; margin-left: auto; margin-right: auto; background-color: black; padding-left: 3px}

li {font-size: 30px; font-weight: bold; margin: 1em}

.developertools {color: green; text-align: left; font-size: 25px; border: 6px white; border-style: double; border-radius: 20px; margin-left: auto; margin-right: auto; background-color: white; border-color: gray; padding-left: 6px; padding-bottom: 3px}

.dom {background-color: lime; font-size: 36px; border: 6px; border-radius: 6px; padding: 8px}

img {display: block; margin-right: auto; margin-left: auto}

.python {background-color: white; font-size: 40px; text-align: center; margin-left: auto; margin-right: auto; padding: 3px;}

.pythoncontent  {background-color: white; font-size: 36px; text-align: left; padding-left: 6px}

.pythontools {padding: 3px; background-color: green; font-size: 36px; outline-style: groove}

.functions {text-align: left; font-size: 30px; background-color: white; border-radius: 20px; border-style: groove; padding: 4px}

span.code {background-color: gray; font-style: italic; padding: 6px;} 

.addvideos {color: green; text-align: left; font-size: 25px; border: 6px white; border-style: double; border-radius: 20px; margin-left: auto; margin-right: auto; background-color: white; border-color: gray; padding-left: 6px; padding-bottom: 3px}